/* ! THIS FILE IS MEANT TO SET THE BASE STYLES FOR THE WHOLE APPLICATION */
/* ! DONT WRITE ANY STYLES OR COMPONENT SPECIFIC STYLES HERE */

/* App theme */
:root {
    /* Theme colors */
    --primary: 30 59 161;
    --light-primary: 130 143 188;
    --secondary: 250 66 56;
    --light-secondary: 253 199 196;
    --light: 247 247 247;
    --gray: 213 218 237;
    --dark: 16 31 86;
    --white: 255 255 255;

    /* Other colors */
    --success: 16 185 129;
    --warning: 245 158 11;
    --danger: 220 38 38;

    /* Border radius */
    --radius-xs: 9px;
    --radius-md: 18px;
    --radius-xl: 50px;

    /* Password colors */
    --password-step-1: #dc2626;
    --password-step-2: #dc7e26;
    --password-step-3: #dcd926;
    --password-step-4: #78dc26;
    --password-step-5: #29af00;
}

/* Vue-toastification overrides */
.Vue-Toastification__container {
    z-index: 99999 !important;
}

.Vue-Toastification__toast {
    font-family: "Roboto", sans-serif !important;
    border-radius: 0.75rem !important;
    color: #ffffff !important;
    font-size: 0.95rem !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25) !important;
}

.Vue-Toastification__toast--info {
    background-color: rgb(var(--primary)) !important;
}

.Vue-Toastification__toast--success {
    background-color: rgb(var(--success)) !important;
}

.Vue-Toastification__toast--warning {
    background-color: rgb(var(--warning)) !important;
}

.Vue-Toastification__toast--error {
    background-color: rgb(var(--danger)) !important;
}

/* Fonts */

@font-face {
    font-family: 'neue-haas-grotesk-bold';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-75Bd.otf') format('opentype');
}

@font-face {
    font-family: 'neue-haas-grotesk-regular';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskTXPro-55Rg.otf') format('opentype');
}

.neue-haas-grotesk-r {
    font-family: 'neue-haas-grotesk-regular';
    letter-spacing: 1.5px;
}

.neue-haas-grotesk-b {
    font-family: 'neue-haas-grotesk-bold';
}

@font-face {
    font-family: 'compita-medium';
    src: url('/fonts/compita/Fontspring-DEMO-compita-medium.otf') format('opentype');
}

.compita-medium-font {
    font-family: 'compita-medium';
}

/* Bases styles */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    min-height: 100vh;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: "compita-medium-font", "Roboto", sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--dark);
    background: var(--light);
}