/* ! THIS FILE IS MEANT TO SET THE BASE STYLES FOR THE WHOLE APPLICATION */
/* ! DONT WRITE ANY STYLES OR COMPONENT SPECIFIC STYLES HERE */

/* App theme */
:root {
    /* Theme colors */
    --primary: #1E3BA1;
    --light-primary: #D5DAED;
    --secondary: #FA4238;
    --light-secondary: #FDC7C4;
    --light: #FDF7FF;
    --gray: #d5daed;
    --dark: #101f56;
    /* Other colors */
    --success: #10b981;
    --warning: #f59e0b;
    --danger: #dc2626;
}

/* Vue-toastification overrides */
.Vue-Toastification__toast {
    font-family: "Roboto", sans-serif !important;
    border-radius: 0.75rem !important;
}

.Vue-Toastification__toast--info {
    background-color: var(--blue) !important;
    color: var(--ivory) !important;
}

.Vue-Toastification__toast--success {
    background-color: var(--success) !important;
    color: var(--ivory) !important;
}

.Vue-Toastification__toast--warning {
    background-color: var(--warning) !important;
    color: var(--ivory) !important;
}

.Vue-Toastification__toast--error {
    background-color: var(--danger) !important;
    color: var(--ivory) !important;
}

/* Fonts */

@font-face {
    font-family: 'neue-haas-grotesk';
    src: url('/fonts/neue-haas-grotesk/NHaasGroteskDSPro-75Bd.otf') format('opentype');
}

.neue-haas-grotesk-font {
    font-family: 'neue-haas-grotesk';
}

@font-face {
    font-family: 'compita-medium';
    src: url('/fonts/compita/Fontspring-DEMO-compita-medium.otf') format('opentype');
}

.compita-medium-font {
    font-family: 'compita-medium';
}

/* Bases styles */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    min-height: 100vh;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: "compita-medium-font", "Roboto", sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
<<<<<<< HEAD
    color: var(--light);
    background: lightslategrey;
=======
    color: var(--dark);
    background: var(--light);
>>>>>>> 69ebf20e338ed7268a3719a33f7f194750a81668
}