# Server / preprod environment
ENVIRONMENT=preprod

# Front
VITE_APP_SHORT_NAME=MMM
VITE_APP_NAME=MyMemoMaster
VITE_APP_COMPANY_NAME=MyMemoMaster
VITE_APP_AUTHOR_NAME="MyMemoMaster's team"
VITE_APP_DESCRIPTION=""
VITE_APP_THEME_COLOR=#ffffff
VITE_APP_BG_COLOR=#000000
VITE_FRONT_URL=https://tests.my-memo-master.com
VITE_API_URL=https://api.tests.my-memo-master.com
APP_PUBLIC_URL=https://tests.my-memo-master.com

# Backend
EMAIL_FROM=mymemomaster.com
EMAIL_USER=change-me
EMAIL_PASS=change-me
API_PORT=8001
AUTH_JWT_SECRET=change-me
AUTH_JWT_EXPIRES_IN=1d
API_BYPASS_AUTH=false
DB_SYNC_MAX_RETRIES=20
DB_SYNC_RETRY_DELAY=5000

# Postgres (internal Docker network)
PG_USER=postgres
PG_PASS=change-me
PG_HOST=postgres
PG_DB=mymemomasterdb
INTERNAL_PG_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=postgres@example.com
PGADMIN_DEFAULT_PASSWORD=change-me

# Public domains
FRONT_DOMAIN=tests.my-memo-master.com
API_DOMAIN=api.tests.my-memo-master.com
PGADMIN_DOMAIN=pgadmin.tests.my-memo-master.com

# Images
IMAGE_API=fredissimo/mymemomaster_test_api:latest
IMAGE_FRONT=fredissimo/mymemomaster_test_front:latest
