.custom-border {
    border: thick solid #1E3BA1;
  /* border: thick solid --primary; */
    border-radius: 18px;
}
.imageConnexion {
    border-radius: 9px;
}
.valider{
    color: white
}
.contenue{
    background-color: #1E3BA1;
    /* background-color: --primary; */
    border-radius: 50px;
}
.formulaire{
    background-color: white;
}
